<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="5.7.0" targetFramework="net48" developmentDependency="true" />
  <package id="Fody" version="6.8.0" targetFramework="net48" developmentDependency="true" />
  <package id="Guna.Charts.WinForms"
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net48" />
  <package id="LibreHardwareMonitorLib" version="0.9.6" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Management" version="10.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.AccessControl" version="10.0.3" targetFramework="net48" />
</packages>
